/*  your css code here. If applicable */
*{
	box-sizing: border-box;
	padding: 0;
	margin:0;
}
#grid{
	margin: 10px;
	display: grid;
	grid-template-rows:repeat(5,1fr);
	grid-template-columns: repeat(4,1fr);
	gap: 5px;
}
div{
	background-color: green;
	color: white;
	padding: 5px 40px 40px 5px;
	font-size: 1.5rem;
}
.item1{
	grid-column: span 4;
}
.item2{
	grid-row: span 4;
}
.item4{
	grid-column: span 2;
}
.item5{
	grid-column: span 2;
}
.item10{
	grid-column: span 3;
}